.saved-movies {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto auto auto;
  align-items: center;
}

.saved-movies__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 30px;
  column-gap: 24px;

}

@media screen and (max-width: 768px) {
  .saved-movies {
    width: 92.187%;
  }

  .saved-movies__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .saved-movies {
    width: 93.75%;
  }

  .saved-movies__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
  }
}